body {
    height: 100vh;
    background: rgb(49,68,147);
    background: radial-gradient(circle, rgba(49,68,147,1) 0%, rgba(1,1,34,1) 100%);
}

#time {
    font-size: 6em;
    color: white;
    text-shadow: 0 0 20px rgba(149,168,247,0.5);
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}